@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.start-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e4f9;
}