<template>
  <div class="start-page">
    <form @submit.prevent="submit">
          <div class="card">
              <div class="card-header text-center bg-dark text-white">
                  Teste - FortBrasil
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                    <div class="form-group text-center">
                        <img src="https://www.fortbrasil.com.br/sites/all/themes/framework/logo.png" alt="Fortbrasil-Logo">
                    </div>
                    <div class="form-group" v-if="errors.length > 0">
                        <div class="alert alert-danger">
                          <ul>
                            <div v-for="(error, index) in errors" :key="index" class="mb-0">
                              <li v-for="(message, field) in error" :key="field">
                                {{ `${message}` }}
                              </li>
                            </div>
                          </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                            required
                            type="text"
                            v-model="form.name"
                            class="form-control"
                            placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input
                            required
                            type="email"
                            v-model="form.email"
                            class="form-control"
                            placeholder="E-mail">
                    </div>
                    <div class="form-group">
                    <input
                        required
                        type="password"
                        placeholder="Senha"
                        class="form-control"
                        v-model="form.password">
                    </div>
                    <button class="btn btn-success w-100">Cadastrar</button>
                  </div>
              </div>
              <div class="card-footer">
                <div class="col-md-12">
                  <router-link class="small" to="/login">Fazer Login</router-link>
                </div>
              </div>
          </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data: () => ({
    form: {
      name: '',
      email: '',
      password: ''
    },
    errors: []
  }),
  methods: {
    ...mapActions('auth', ['ActionRegister']),
    async submit () {
      try {
        await this.ActionRegister(this.form)

        this.$router.push({ name: 'home' })
      } catch (error) {
        this.errors = []
        this.errors.push(error.data.paramError ? error.data.response : { message: ['Erro ao fazer cadastro, tente novamente mais tarde'] })
      }
    }
  }
}
</script>

<style scoped lang="scss">
</style>
