<template>
  <div>
    <div class="row mt-3"></div>
    <div class="content-fluid">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                <h3>Estabelecimentos</h3>
              </div>
              <div class="col-6">
                <div class="float-right">
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <b-button @click.prevent="editCompany(company)" size="sm" variant="primary">
                        Novo <b-icon-plus></b-icon-plus>
                      </b-button>
                    </div>
                    <input type="text" class="form-control" v-model="filterName" placeholder="Nome do estabelecimento" aria-label="Nome do estabelecimento" aria-describedby="filter-name-btn">
                    <div class="input-group-append">
                      <button v-if="filterName !== ''" class="btn btn-outline-secondary" type="button" id="clear-filter" @click="clearFilter()">
                        <b-icon-x></b-icon-x>
                      </button>
                      <button class="btn btn-outline-secondary" type="button" id="filter-name-btn" @click="listCompanies()">
                        <b-icon-search></b-icon-search>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body table-responsible">
            <table class="table-companies table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Foto</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Responsável</th>
                  <th scope="col">Endereço</th>
                  <th scope="col">Telefone</th>
                  <th scope="col" colspan="2">Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="company in companies.data" :key="company.id" class="justify-content-center">
                  <th scope="row" class="align-self-center">{{ company.id }}</th>
                  <td>
                    <img class="img-thumbnail" :src="company.logo" :height="50" :width="80" alt="IMG">
                  </td>
                  <td>{{ company.name }}</td>
                  <td>{{ company.responsible }}</td>
                  <td>{{ company.address }}</td>
                  <td>{{ company.phone }}</td>
                  <td colspan="2" class="d-flex">
                    <b-button @click.prevent="editCompany(company)" size="sm" variant="info" class="mr-2">
                        <b-icon-pencil-square></b-icon-pencil-square>
                    </b-button>
                    <b-button @click.prevent="deleteCompany(company.id)" size="sm" variant="danger">
                        <b-icon-trash></b-icon-trash>
                    </b-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <pagination :data="companies" @pagination-change-page="listCompanies"></pagination>
          </div>
        </div>
      </div>
    </div>
    <!-- The modal -->
    <b-modal v-model="showModal" id="company-modal" :title="company.name || 'Novo estabelecimento'">
      <form :class="'needs-validation' + wasValidated">
        <div class="form-row">
          <div class="col-md-4"></div>
          <div class="col">
            <img class="image-thumbnail" height="150" width="150" :src="urlPreviewImage || 'http://via.placeholder.com/150x150'" alt="">
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="form-row mt-3 mb-3">
          <div class="col">
            <label for="company-logo">Logo</label>
            <div class="custom-file">
              <label for="company-logo" class="custom-file-label">Faça upload da logo</label>
              <input required class="custom-file-input" type="file" id="company-logo" @change="processImage($event)">
            </div>
            <span v-if="formError.logo" class="small">
              <span style="color:red" v-for="(error, index) in formError.logo" :key="index">{{ `${error}` }}</span>
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="company-name">Nome</label>
              <input required class="form-control" type="text" id="company-name" v-model="company.name">
              <div v-if="formError.name" class="invalid-feedback">
                <span v-for="(error, index) in formError.name" :key="index">{{ `${error}` }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="company-address">Endereço</label>
              <input required class="form-control" type="text" id="company-address" v-model="company.address">
              <div v-if="formError.address" class="invalid-feedback">
                <span v-for="(error, index) in formError.address" :key="index">{{ `${error}` }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="company-phone">Telefone</label>
              <input required class="form-control" type="text" id="company-phone" v-model="company.phone">
              <div v-if="formError.phone" class="invalid-feedback">
                <span v-for="(error, index) in formError.phone" :key="index">{{ `${error}` }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="company-responsible">Responsável</label>
              <input class="form-control" type="text" id="company-responsible" v-model="company.responsible">
              <div v-if="formError.responsible" class="invalid-feedback">
                <span v-for="(error, index) in formError.responsible" :key="index">{{ `${error}` }}</span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <template v-slot:modal-footer="{ cancel }">
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button variant="primary" @click="save()">
          Salvar
        </b-button>
        <b-button @click="cancel()">
          Cancelar
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { BIconPencilSquare, BIconTrash, BIconPlus, BIconSearch, BIconX, BModal, BButton } from 'bootstrap-vue'

export default {
  name: 'Company',
  data: () => ({
    showModal: false,
    companyFormData: null,
    urlPreviewImage: null,
    filterName: '',
    wasValidated: '',
    formError: {},
    company: {}
  }),
  components: {
    BIconPencilSquare,
    BIconTrash,
    BIconPlus,
    BIconSearch,
    BIconX,
    BModal,
    BButton
  },
  mounted () {
    this.listCompanies()

    this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
      this.cleanModal()
    })
  },
  computed: {
    ...mapState('company', ['companies'])
  },
  methods: {
    ...mapActions('company', ['ActionListCompanies', 'ActionUpdateCompany', 'ActionCreateCompany', 'ActionDeleteCompany']),
    async listCompanies (page = 1) {
      await this.ActionListCompanies({ name: this.filterName, page: this.companies.page || page })
    },
    openModal () {
      this.wasValidated = ''
      this.showModal = true
    },
    cleanModal () {
      this.company = {}
      this.showModal = false
      this.urlPreviewImage = null
      this.companyFormData = null
      this.wasValidated = ''
      this.formError = {}
    },
    clearFilter () {
      this.filterName = ''
      this.listCompanies()
    },
    async save () {
      this.mountFormData()

      if (this.company.id) {
        await this.ActionUpdateCompany(this.companyFormData)
          .then(({ data }) => {
            this.cleanModal()
            this.listCompanies()
            this.$swal('', 'Estabelecimento atualizado com sucesso', 'success')
          })
          .catch(({ data, status }) => {
            if (data.paramError) {
              this.formError = data.response
              this.setWasValidated()
            }

            if (status === 500) {
              this.$swal('', 'Erro Interno', 'error')
            }
          })
        return
      }

      this.createCompany()
    },
    createCompany () {
      this.ActionCreateCompany(this.companyFormData)
        .then(({ data }) => {
          this.cleanModal()
          this.listCompanies()
          this.$swal('', 'Estabelecimento inserido com sucesso', 'success')
        })
        .catch(({ data, status }) => {
          if (data.paramError) {
            this.formError = data.response
            this.setWasValidated()
          }

          if (status === 500) {
            this.$swal('', 'Erro Interno', 'error')
          }
        })
    },
    mountFormData () {
      this.companyFormData = new FormData()
      this.companyFormData.append('logo', this.company.logo)
      this.companyFormData.append('name', this.company.name)
      this.companyFormData.append('responsible', this.company.responsible)
      this.companyFormData.append('phone', this.company.phone)
      this.companyFormData.append('address', this.company.address)
      if (this.company.id) {
        this.companyFormData.append('id', this.company.id)
      }
    },
    editCompany (company) {
      this.company = company
      this.urlPreviewImage = company.logo
      this.openModal()
    },
    async deleteCompany (companyId) {
      await this.ActionDeleteCompany(companyId)
        .then(() => {
          this.listCompanies()
          this.$swal('', 'Estabelecimento excluído com sucesso', 'success')
        })
        .catch(({ data }) => {
          if (status === 500) {
            this.$swal('', 'Erro Interno', 'error')
          }
        })
    },
    processImage (event) {
      this.urlPreviewImage = URL.createObjectURL(event.target.files[0])
      this.company.logo = event.target.files[0]
    },
    setWasValidated () {
      this.wasValidated = ' was-validated'
    }
  }
}
</script>
